html,
body {
    min-height: 100vh;
    margin:0;
    padding: 0;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    
    &.fullwidth {
        max-width: none;
    }
}

/*=====MASTER FLEX RULES=====*/

.flex-container {
  display: flex;
  
  .col {
    flex:1;
    box-sizing: border-box;
    background:#c5c5c5;/* temp - for demo only */
    margin-left: $gutter;
    margin-right: $gutter;   
     
        &:first-of-type {
          margin-left:0;
        }
        
        &:last-of-type {
          margin-right:0;
        }    
    } 
}

/*=====ALIGN FLEX RULES=====*/

.flex-container {
    
    &.flex-left {
        justify-content: flex-start;            
    }
    
    &.flex-center {
        justify-content: center;            
    }  

    &.flex-right {
        justify-content: flex-end;    
    }

    &.flex-v-top,
    &.flex-v-center,
    &.flex-v-bottom {
        flex-direction: column;
                
        >.col {
            flex: 0;
            margin:0;
        }
    }

    &.flex-v-top {
        justify-content: flex-start;
    }
    
    &.flex-v-center {
        justify-content: center;
    }    
    
    &.flex-v-bottom {
        justify-content: flex-end;
    }    
}

.flex-direction-col {
    display: flex;   
        
    > .col {
        margin:0;
        
        &.align-top { align-self:flex-start;}
        &.align-bottom {align-self: flex-end;}
    }
}

.h400 {
    height:20em;
}

/*=====WIDTH FLEX RULES=====*/

.flex-no-gutter {
    
    > .col {
        margin:0;
    }
}

.flex-10 {
    flex-wrap: wrap;
    
    > .col {
        flex: calc(10% - #{gutter-width(10)});
        flex-grow: 0;
    
        &:nth-of-type(10n) {
            margin-right:0;
        }
        
        &:nth-of-type(10n-9) {
            margin-left:0;
        }
    }
}

.flex-25 {
    flex-wrap: wrap;
    
    > .col {
        flex: calc(25% - #{gutter-width(4)});
        flex-grow: 0;

        &:nth-of-type(4n) {
            margin-right:0;
        }
        
        &:nth-of-type(4n-3) {
            margin-left:0;
        }
    }
}

.flex-33 {
    flex-wrap: wrap;
    
    >.col {
        flex: calc(33.33% - #{gutter-width(3)});
        flex-grow: 0;
    
        &:nth-of-type(3n) {
            margin-right:0;
        }
        
        &:nth-of-type(3n-2) {
            margin-left:0;
        }
    }
}

.flex-50 {
    flex-wrap: wrap;
    
    > .col {
        flex: calc(50% - #{gutter-width(2)});
        flex-grow: 0;
    
        &:nth-of-type(2n) {
            margin-right:0;
        }
        
        &:nth-of-type(2n-1) {
            margin-left:0;
        }
    }
}

.flex-40-60 {

    > .col {
        flex:initial;
              
        &:nth-of-type(1) {
            width:40%;
            background:purple;
        }
        
        &:nth-of-type(2) {
            width:60%;
            background:orange;
        }
    }    
}

.flex-60-40 {

    > .col {
        flex:initial;
              
        &:nth-of-type(1) {
            width:60%;
            background:purple;
        }
        
        &:nth-of-type(2) {
            width:40%;
            background:orange;
        }
    }    
}

.flex-10-10-80 {

    > .col {
        flex:initial;
              
        &:nth-of-type(1),
        &:nth-of-type(2) {
            width:10%;
            background:purple;
        }
        
        &:nth-of-type(3) {
            width:80%;
            background:orange;
        }
    }    
}

.flex-20-80 {

    > .col {
        flex:initial;
              
        &:nth-of-type(1) {
            width:20%;
            background:purple;
        }
        
        &:nth-of-type(2) {
            width:80%;
            background:orange;
        }
    }    
}

/*=====BREAKPOINT FLEX RULES=====*/

@media only screen and (max-width: 1200px) {

.break-lg {
    display: block;
    
    > .col:nth-of-type(n) {
        display: block;
        width:100%;
        margin:0;
    }
}

}/*end*/

@media only screen and (max-width: 800px) {

.break-md {
    display: block;
    
    > .col:nth-of-type(n) {
        display: block;
        width:100%;
        margin:0;
    }
}

}/*end*/

@media only screen and (max-width: 600px) {

.break-sm {
    display: block;
    
    > .col:nth-of-type(n) {
        display: block;
        width:100%;
        margin:0;
    }
}

}/*end*/

@media only screen and (max-width: 350px) {

.break-xs {
    display: block;
    
    > .col:nth-of-type(n) {
        display: block;
        width:100%;
        margin:0;
    }
}

}/*end*/
